body {
    background-color: rgba(38, 41, 48, 0.823) ;
}
.main{
    width: 350px;
    height: 350px;
margin: 0px auto;
    top: 100px;
}
h2 {
    color: white;
text-align: center;
margin-bottom: 0px;
font-family: 'Roboto', sans-serif;
}
div.head {
    margin: -10px 0px;
    padding: 5px 0px;
    color: white;
    position: relative;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
div.name, div.telNumber, div.email {
    position: relative;
    padding: auto;
    left: 20px;
    margin: 10px;
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;}
input[type="text"], input[type="tel"], input[type="email"]{
    background-color:transparent;
    color: white;
    border-radius: 15px;
    line-height: 30px ;
    border: 1px solid white;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
input[type="text"]:focus {
    border: 1px solid rgb(4, 208, 106);
    outline: none;
} 

input[type="tel"]:focus {
    border: 1px solid rgb(4, 208, 106);
    outline: none;
} 
input[type="email"]:focus{
    border: 1px solid rgb(4, 208, 106);
    outline: none;
}
input[type="text"]::placeholder {
    color: white;
}
input[type="email"]::placeholder {
    color: white;
}
input[type="tel"]::placeholder {
    color: white;
}
button.callRecuest {
    position: relative;
    padding: auto;
    left: 20px;
    margin: 10px;
    margin-top: 0px;
    background:rgb(4, 208, 106);
    color: white;
    border-radius: 20px;
    width: 295px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    border: none;
    font-size: 17px;

}
